// Использование математики
@use 'sass:math';

// Подключение миксинов
// @import './_mixins.scss';

// Подключение файла обнуляющих стилей
@import './_null-style.scss';

// Подключение шрифтов
@import './_fonts.scss';

// ========================================================================================
// Оболочка
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> main {
		flex: 1 1 auto;
	}
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

// ========================================================================================
// Стили по умолчанию
body {
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.3;
}

.header {
	background-color: #151515;
}

.header-main {
	background-color: transparent;
	position: absolute;
	z-index: 6;
	left: 0;
	right: 0;
}

.section-title {
	text-align: center;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 50px;
}

.show-more__link {
	display: block;
	max-width: 225px;
	text-transform: uppercase;
	color: #fff;
	background-color: #151515;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto;
	padding: 13px 61px;
	margin-bottom: 150px;
}

// ========================================================================================
// Header
.header {
	// .header__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-top: 40px;
		padding-bottom: 45px;
	}
}

.logo {
	// .logo__img
	&__img {
	}
}

.menu {
	// .menu__list
	&__list {
		display: flex;
		gap: 35px;
	}
	// .menu__list-item
	&__list-item {
		cursor: pointer;
	}
	// .menu__list-link
	&__list-link {
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
	}
	&__active {
		color: #0066ff;
	}
}

// ========================================================================================
// Footer
.footer {
	background-color: #151515;
	padding: 50px 0 32px;
	color: #fff;
	// .footer__menu
	&__menu {
		display: flex;
		justify-content: center;
		gap: 194px;
		margin-bottom: 50px;
	}
	// .footer__menu-list
	&__menu-list {
		max-width: 250px;
	}
	// .footer__menu-item
	&__menu-item + &__menu-item {
		padding-top: 20px;
	}
	// .footer__menu-title
	&__menu-title {
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 20px;
	}
	// .footer__menu-link
	&__menu-link {
	}
	// .footer__copy
	&__copy {
		max-width: 800px;
		margin: 0 auto 30px;
	}
	// .footer__copy-text
	&__copy-text {
		font-size: 12px;
		text-align: center;
	}
}

.app {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 50px;
	// .app_item-img
	&_item-img {
	}
	// .app__item
	&__item {
	}
	// .app__item-link
	&__item-link {
	}
}

.copy {
	// .copy__nav
	&__nav {
	}
	// .copy__nav-list
	&__nav-list {
		display: flex;
		justify-content: center;
		gap: 40px;
	}
	// .copy__nav-item
	&__nav-item {
	}
	// .copy__nav-link
	&__nav-link {
	}
}

// ========================================================================================
// Main Top
.top {
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	padding-top: 250px;
	padding-bottom: 50px;

	// .top__title
	&__title {
		padding-bottom: 40px;
		font-weight: 700;
		font-size: 96px;
	}
	// .top__link
	&__link {
		background-color: #151515;
		padding: 23px;
		max-width: 430px;
		width: 100%;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 36px;
	}
}

// ========================================================================================
// Main Slider
.slider {
}
.swiper {
	&::after {
		content: '';
		position: absolute;
		z-index: 5;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(21, 21, 21, 0.3);
	}
}
.swiper-wrapper {
}
.swiper-slide {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.swiper-pagination {
}
.swiper-pagination-bullet {
	width: 120px;
	height: 3px;
	background-color: #151515;
	border-radius: 0;
}
.swiper-pagination-bullet-active {
	height: 6px;
	background-color: #fff;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 50px;
}

// ========================================================================================
// Section Why Lease
.why-lease {
	padding: 150px 0;
	// .why-lease__list
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 40px;
		text-align: center;
	}
	// .why-lease__item
	&__item {
	}
	// .why-lease__item-img
	&__item-img {
		margin-bottom: 30px;
	}
	// .why-lease__item-title
	&__item-title {
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 30px;
	}
	// .why-lease__item-text
	&__item-text {
		text-align: left;
	}
}

// ========================================================================================
// Section How Does
.howdoes {
	padding-bottom: 150px;
	// .how-does__inner
	&__inner {
		max-width: 600px;
		margin: 0 auto;
	}
	// .how-does__text
	&__text {
	}
	// .how-does__subtitle
	&__subtitle {
		padding-top: 50px;
		font-weight: 700;
		font-size: 24px;
	}
	// .how-does__list
	&__list {
		padding: 50px 0 70px;
		counter-reset: myCounter;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	// .how-does__list-item
	&__list-item {
		list-style-type: none;
		position: relative;
		margin-left: auto;
		width: 270px;
		min-height: 63px;
		box-sizing: content-box;
		padding: 19px 0 19px 240px;
		&::before {
			content: counter(myCounter);
			counter-increment: myCounter;
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #0066ff;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			font-weight: 700;
			font-size: 48px;
			color: #fff;
		}
	}
	// .how-does__item-text
	&__item-text {
	}
}

// ========================================================================================
// Section Welcome To
.welcome-to {
	padding-bottom: 150px;
	// .welcome-to__title
	&__title {
		margin-bottom: 20px;
	}
	// .welcome-to__subtitle
	&__subtitle {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 50px;
	}
	&__video-content {
		display: block;
		margin: 0 auto;
	}
}

// ========================================================================================
// Section Important Things
.important-things {
	padding-bottom: 150px;
	// .important-things__title
	&__title {
		margin-bottom: 20px;
	}
	// .important-things__text
	&__text {
		margin: 0 auto 50px;
		max-width: 580px;
	}
	// .important-things__list
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 40px;
	}
	// .important-things__item
	&__item {
	}
	// .important-things__item-img
	&__item-img {
		margin-bottom: 20px;
	}
	// .important-things__item-text
	&__item-text {
	}
}

// ========================================================================================
// Section Contact Us
.contacts {
	padding: 100px 0 150px;
	// .contacts__title
	&__title {
		margin-bottom: 20px;
	}
	// .contacts__text
	&__text {
		padding: 0 100px;
		margin: 0 auto 50px;
		text-align: center;
		font-weight: 700;
		font-size: 24px;
	}
	// .contacts__form
	&__form {
	}
}
.form-contacts {
	max-width: 580px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	// .form-contacts__input
	&__input {
		max-width: 270px;
		padding: 18px 20px;
		display: inline-block;
		border: 1px solid #0066ff;
		margin-bottom: 50px;
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.3;
		color: #000;
		&::placeholder {
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.3;
			color: #151515;
			opacity: 0.5;
		}
	}
	// .form-contacts__textarea
	&__textarea {
		width: 100%;
		height: 290px;
		resize: none;
		padding: 28px 20px;
		border: 1px solid #0066ff;
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.3;
		color: #000;
		margin-bottom: 50px;
		&::placeholder {
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.3;
			color: #151515;
			opacity: 0.5;
		}
	}
	// .form-contacts__btn
	&__btn {
		text-transform: uppercase;
		color: #fff;
		background-color: #151515;
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		font-weight: 400;
		margin: 0 auto;
		padding: 13px 61px;
	}
}

// ========================================================================================
// Section Contact Articles
.articles {
	// .articles__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		margin-bottom: 70px;
	}
	// .articles__item
	&__item {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	// .articles__item-img
	&__item-img {
		width: 100%;
		margin-bottom: 30px;
	}
	// .articles__item-title
	&__item-title {
		flex-basis: 446px;
		font-weight: 700;
		font-size: 24px;
	}
	// .articles__item-link
	&__item-link {
		color: #fff;
		background-color: #0066ff;
		padding: 4px 20px;
	}
}

// ========================================================================================
// Section Choose Car
.shoose-car {
	padding-top: 100px;
	// .shoose-car__tabs
	&__tabs {
	}
}
.tabs {
	// .tabs__btns
	&__btns {
		padding: 0 150px;
		display: flex;
		justify-content: space-between;
		gap: 80px;
		margin-bottom: 100px;
	}
	&__btns--active {
		color: #0066ff;
	}
	// .tabs__btns-item
	&__btns-item {
		font-weight: 700;
		font-size: 24px;
		cursor: pointer;
		border: none;
		background-color: transparent;
		padding: 0;
	}
	// .tabs__content
	&__content {
	}
	// .tabs__content-item
	&__content-item {
		display: none;
		grid-template-columns: repeat(4, 1fr);
		gap: 100px 40px;
		margin-bottom: 70px;
	}
	// .tabs__content-item--active
	&__content-item--active {
		display: grid;
	}
}
.item-card {
	text-align: center;
	// .item-card__img
	&__img {
		display: block;
	}
	// .item-card__content
	&__content {
		padding: 0 5px;
		border: 1px solid #0066ff;
		border-top: 0;
	}
	// .item-card__title
	&__title {
		padding-top: 20px;
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 20px;
	}
	// .item-card__text
	&__text {
		margin-bottom: 20px;
	}
	// .item-card__price
	&__price {
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 20px;
	}
	// .item-card__link
	&__link {
		display: block;
		color: #0066ff;
		border: 1px solid #0066ff;
		border-top: 0;
	}
}
