// ========================================================================================
// contacts.html Section Contact Us
.contacts {
	padding: 100px 0 150px;
	// .contacts__title
	&__title {
		margin-bottom: 20px;
	}
	// .contacts__text
	&__text {
		padding: 0 100px;
		margin: 0 auto 50px;
		text-align: center;
		font-weight: 700;
		font-size: 24px;
	}
	// .contacts__form
	&__form {
	}
}
.form-contacts {
	max-width: 580px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	// .form-contacts__input
	&__input {
		// max-width: 270px;
		padding: 18px 20px;
		display: inline-block;
		border: 1px solid $mainBlue;
		margin-bottom: 50px;
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.3;
		color: #000;
		&::placeholder {
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.3;
			color: $mainBlack;
			opacity: 0.5;
		}
	}
	// .form-contacts__textarea
	&__textarea {
		width: 100%;
		height: 290px;
		resize: none;
		padding: 28px 20px;
		border: 1px solid $mainBlue;
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.3;
		color: #000;
		margin-bottom: 50px;
		&::placeholder {
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.3;
			color: $mainBlack;
			opacity: 0.5;
		}
	}
	// .form-contacts__btn
	&__btn {
		text-transform: uppercase;
		color: $mainWhite;
		background-color: $mainBlack;
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		font-weight: 400;
		margin: 0 auto;
		padding: 13px 61px;
	}
}

// ========================================================================================
// Адаптив
@media (max-width: 1180px) {
}

@media (max-width: 1040px) {
}

@media (max-width: 860px) {
}

@media (max-width: 768px) {
}

@media (max-width: 650px) {
	.contacts {
		padding: 50px 0 50px;
		&__text {
			padding: 0 15px;
			font-size: 18px;
			margin-bottom: 30px;
		}
	}
	.form-contacts {
		&__input {
			width: 100%;
			margin-bottom: 30px;
		}
		&__textarea {
			margin-bottom: 25px;
		}
	}
}

@media (max-width: 540px) {
}
