// ========================================================================================
// Footer
.footer {
	background-color: $mainBlack;
	padding: 50px 0 32px;
	color: $mainWhite;
	// .footer__menu
	&__menu {
		display: flex;
		justify-content: center;
		gap: 194px;
		margin-bottom: 50px;
	}
	// .footer__menu-list
	&__menu-list {
		max-width: 250px;
	}
	// .footer__menu-item
	&__menu-item + &__menu-item {
		padding-top: 20px;
	}
	// .footer__menu-title
	&__menu-title {
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 20px;
	}
	// .footer__copy
	&__copy {
		max-width: 800px;
		margin: 0 auto 30px;
	}
	// .footer__copy-text
	&__copy-text {
		font-size: 12px;
		text-align: center;
	}
}

.app {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 50px;
}

.copy {
	// .copy__nav-list
	&__nav-list {
		display: flex;
		justify-content: center;
		gap: 40px;
	}
}

// ========================================================================================
// Адаптив
@media (max-width: 1180px) {
	.footer__menu {
		gap: 100px;
	}
}

@media (max-width: 1040px) {
	.footer__menu {
		gap: 80px;
	}
}

@media (max-width: 860px) {
	.footer__menu {
		gap: 60px;
	}
}

@media (max-width: 768px) {
	.footer__menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 50px;
		gap: 40px;
	}
}

@media (max-width: 540px) {
	.footer {
		// &__menu-list {
		// 	display: flex;
		// 	flex-direction: column;
		// }
		&__menu-title {
			font-size: 20px;
		}
		&__menu-link {
			font-size: 14px;
		}
	}
	.app {
		gap: 10px;
	}
	.copy {
		&__nav-list {
			text-align: center;
			gap: 25px;
		}
		&__nav-link {
			font-size: 14px;
		}
	}
}
