// ========================================================================================
// Header
.header {
	// .header__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-top: 40px;
		padding-bottom: 45px;
	}
}

.menu {
	// .menu__list
	&__list {
		display: flex;
		gap: 35px;
	}
	// .menu__list-item
	&__list-item {
		cursor: pointer;
	}
	// .menu__list-link
	&__list-link {
		color: $mainWhite;
		text-transform: uppercase;
		font-weight: 700;
	}
	&__active {
		color: $mainBlue;
	}
}

// ========================================================================================
// Меню бургер
.menu__btn {
	display: block;
	position: relative;
	width: 30px;
	height: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	border: none;
	background-color: transparent;
	display: none;
	cursor: pointer;
	span {
		height: 2px;
		width: 100%;
		background-color: $mainWhite;
	}
}

// ========================================================================================
// Адаптив
@media (max-width: 860px) {
	.menu__btn {
		display: flex;
	}
	.menu__btn,
	.logo {
		position: relative;
		z-index: 10;
	}
	.menu__list {
		position: absolute;
		z-index: 5;
		background-color: $mainBlack;
		flex-direction: column;
		align-items: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 200px;
		height: 100vh;
		transform: translateY(-100%);
		transition: transform 0.3s ease;
	}
	.menu__list--active {
		transform: translateY(0);
	}
	.menu__btn--open {
		span {
			position: absolute;
		}
		span:nth-child(2) {
			width: 0;
		}
		span:nth-child(1) {
			top: 50%;
			transform: rotate(-45deg);
		}
		span:nth-child(3) {
			top: 50%;
			transform: rotate(45deg);
		}
	}
}
